[Unit]
Description=Update arkenfox user.js for Firefox, and clean prefs for %i regularly
After=multi-user.target network-online.target

[Timer]
OnBootSec=1s
OnUnitActiveSec=1d

[Install]
WantedBy=timers.target
