{
	"policies": {
		"SearchEngines": {
			"Default": "DuckDuckGo",
			"DefaultPrivate": "DuckDuckGo",
			"Remove": [
				"Wikipedia (en)",
				"eBay",
				"Bing",
				"Amazon.ca",
				"Amazon.com"
			]
		}
	}
}
