{
	"policies": {
		"SearchEngines": {
			"Default": "DuckDuckGo",
			"DefaultPrivate": "DuckDuckGo",
			"Remove": [
				"Amazon.ca",
				"Bing",
				"eBay",
				"Wikipedia (en)"
			]
		},
		"ExtensionSettings": {
			"uBlock0@raymondhill.net": {
				"installation_mode": "force_installed",
				"install_url": "https://addons.mozilla.org/firefox/downloads/latest/ublock-origin/latest.xpi"
			},
			"floccus@handmadeideas.org": {
				"installation_mode": "force_installed",
				"install_url": "https://addons.mozilla.org/firefox/downloads/latest/floccus/latest.xpi"
			}
		}

	}
}
