user_pref("spellchecker.dictionary", "en-CA");

user_pref("network.trr.mode", 5);

user_pref("signon.rememberSignons", false);

user_pref("extensions.autoDisableScopes", 0);
user_pref("extensions.enabledScopes", 3);

user_pref("browser.urlbar.placeholderName", "DuckDuckGo");

user_pref("browser.search.widget.inNavBar", true);
user_pref("browser.download.autohideButton", false);
user_pref("browser.toolbars.bookmarks.visibility", "always");
user_pref("browser.toolbars.bookmarks.showOtherBookmarks", false);
user_pref("browser.uiCustomization.state", "{\"placements\":{\"widget-overflow-fixed-list\":[],\"nav-bar\":[\"back-button\",\"forward-button\",\"stop-reload-button\",\"customizableui-special-spring1\",\"urlbar-container\",\"search-container\",\"downloads-button\",\"floccus_handmadeideas_org-browser-action\",\"ublock0_raymondhill_net-browser-action\"],\"toolbar-menubar\":[\"menubar-items\"],\"TabsToolbar\":[\"tabbrowser-tabs\",\"new-tab-button\",\"alltabs-button\"],\"PersonalToolbar\":[\"personal-bookmarks\"]},\"seen\":[\"save-to-pocket-button\",\"floccus_handmadeideas_org-browser-action\",\"ublock0_raymondhill_net-browser-action\",\"developer-button\"],\"dirtyAreaCache\":[\"nav-bar\",\"PersonalToolbar\",\"toolbar-menubar\",\"TabsToolbar\"],\"currentVersion\":17,\"newElementCount\":4}");
