/org/gnome/desktop/a11y/magnifier/mouse-tracking

/org/gnome/desktop/background/color-shading-type
/org/gnome/desktop/background/picture-options
/org/gnome/desktop/background/picture-uri
/org/gnome/desktop/background/primary-color
/org/gnome/desktop/background/secondary-color

/org/gnome/desktop/interface/clock-show-seconds
/org/gnome/desktop/interface/clock-show-weekday
/org/gnome/desktop/interface/enable-animations
/org/gnome/desktop/interface/gtk-enable-primary-paste
/org/gnome/desktop/interface/gtk-im-module
/org/gnome/desktop/interface/gtk-theme
/org/gnome/desktop/interface/show-battery-percentage

/org/gnome/desktop/peripherals/mouse/accel-profile

/org/gnome/desktop/peripherals/touchpad/click-method
/org/gnome/desktop/peripherals/touchpad/two-finger-scrolling-enabled

/org/gnome/desktop/privacy/old-files-age
/org/gnome/desktop/privacy/recent-files-max-age
/org/gnome/desktop/privacy/remember-app-usage
/org/gnome/desktop/privacy/remember-recent-files
/org/gnome/desktop/privacy/remove-old-temp-files
/org/gnome/desktop/privacy/remove-old-trash-files
/org/gnome/desktop/privacy/report-technical-problems

/org/gnome/desktop/screensaver/lock-delay

/org/gnome/desktop/session/idle-delay

/org/gnome/desktop/sound/allow-volume-above-100-percent

/org/gnome/desktop/wm/preferences/action-double-click-titlebar
/org/gnome/desktop/wm/preferences/button-layout
/org/gnome/desktop/wm/preferences/num-workspaces

/org/gnome/mutter/dynamic-workspaces
/org/gnome/mutter/workspaces-only-on-primary

/org/gnome/nautilus/list-view/default-column-order

/org/gnome/nautilus/preferences/default-folder-viewer
/org/gnome/nautilus/preferences/recursive-search
/org/gnome/nautilus/preferences/search-filter-time-type
/org/gnome/nautilus/preferences/show-create-link
/org/gnome/nautilus/preferences/show-delete-permanently
/org/gnome/nautilus/preferences/show-directory-item-counts
/org/gnome/nautilus/preferences/show-image-thumbnails
/org/gnome/nautilus/preferences/thumbnail-limit

/org/gnome/settings-daemon/plugins/power/power-button-action
/org/gnome/settings-daemon/plugins/power/sleep-inactive-ac-timeout
/org/gnome/settings-daemon/plugins/power/sleep-inactive-ac-type

/org/gnome/shell/favorite-apps

/org/gtk/settings/file-chooser/show-hidden
/org/gtk/settings/file-chooser/sort-directories-first
