[org/gnome/desktop/a11y/magnifier]
mouse-tracking='proportional'

[org/gnome/desktop/background]
color-shading-type='horizontal'
picture-options='zoom'
picture-uri='file:///usr/share/desktop-base/joy-theme/wallpaper/gnome-background.xml'
primary-color='#0099cc'
secondary-color='#006699'

[org/gnome/desktop/interface]
clock-show-seconds=false
clock-show-weekday=true
enable-animations=false
gtk-enable-primary-paste=false
gtk-im-module='gtk-im-context-simple'
gtk-theme='Adwaita-dark'
show-battery-percentage=true

[org/gnome/desktop/peripherals/mouse]
accel-profile='flat'

[org/gnome/desktop/peripherals/touchpad]
click-method='areas'
two-finger-scrolling-enabled=true

[org/gnome/desktop/privacy]
recent-files-max-age=uint32 0
remember-recent-files=false
remove-old-temp-files=true
remove-old-trash-files=true
report-technical-problems=true

[org/gnome/desktop/screensaver]
lock-delay=uint32 900

[org/gnome/desktop/session]
idle-delay=uint32 900

[org/gnome/desktop/sound]
allow-volume-above-100-percent=true

[org/gnome/desktop/wm/preferences]
action-double-click-titlebar='toggle-maximize'
button-layout='appmenu:minimize,maximize,close'
num-workspaces=1

[org/gnome/login-screen]
logo='/usr/share/images/vendor-logos/logo-text-version-64.png'

[org/gnome/mutter]
dynamic-workspaces=false
workspaces-only-on-primary=false

[org/gnome/nautilus/list-view]
default-column-order=['name', 'size', 'type', 'date_modified', 'date_modified_with_time', 'permissions', 'owner', 'group', 'where', 'date_accessed', 'recency', 'starred', 'detailed_type']
default-visible-columns=['name', 'size', 'type', 'date_modified', 'permissions', 'owner', 'group']

[org/gnome/nautilus/preferences]
default-folder-viewer='icon-view'
recursive-search='always'
search-filter-time-type='last_modified'
show-create-link=true
show-delete-permanently=true
show-directory-item-counts='always'
show-image-thumbnails='always'
thumbnail-limit=uint64 250

[org/gnome/settings-daemon/plugins/power]
power-button-action='interactive'
sleep-inactive-ac-timeout=0
sleep-inactive-ac-type='nothing'

[org/gnome/shell]
favorite-apps=['firefox-esr.desktop', 'org.gnome.Nautilus.desktop', 'org.gnome.Terminal.desktop', 'org.gnome.gedit.desktop']

[org/gtk/settings/file-chooser]
show-hidden=true
sort-directories-first=true
