[org/gnome/desktop/a11y/magnifier]
mouse-tracking='proportional'

[org/gnome/desktop/background]
color-shading-type='horizontal'
picture-options='zoom'
picture-uri='file:///usr/share/desktop-base/joy-theme/wallpaper/gnome-background.xml'
primary-color='#0099cc'
secondary-color='#006699'

[org/gnome/desktop/interface]
clock-show-seconds=false
clock-show-weekday=true
enable-animations=false
gtk-enable-primary-paste=false
gtk-im-module='gtk-im-context-simple'
gtk-theme='Adwaita-dark'
show-battery-percentage=true

[org/gnome/desktop/peripherals/mouse]
accel-profile='flat'

[org/gnome/desktop/peripherals/touchpad]
click-method='areas'
two-finger-scrolling-enabled=true

[org/gnome/desktop/privacy]
remove-old-temp-files=true
remove-old-trash-files=true
report-technical-problems=true

[org/gnome/desktop/screensaver]
lock-delay=uint32 300

[org/gnome/desktop/session]
idle-delay=uint32 300

[org/gnome/desktop/sound]
allow-volume-above-100-percent=true

[org/gnome/desktop/wm/preferences]
action-double-click-titlebar='none'
button-layout='appmenu:minimize,maximize,close'
num-workspaces=1

[org/gnome/mutter]
dynamic-workspaces=false
workspaces-only-on-primary=false

[org/gnome/settings-daemon/plugins/power]
power-button-action='interactive'
sleep-inactive-ac-timeout=0
sleep-inactive-ac-type='nothing'
